<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>
      <main>
        <section class="container-fluid">
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" style="height: 350px;">
              <div class="carousel-item active">
                <img src="/images/banner.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
        <section class="container">
          <div class="d-flex flex-column align-items-center gap-2 py-5">
            <h2>¡Bienvenidos a nuestra tienda de ropa!</h2>
            <p>En nuestra tienda encontrarás una gran variedad de productos de la mejor calidad y al mejor precio.</p>
            <p>¡No te pierdas nuestras ofertas!</p>
          </div>
        </section>

        <section class="container">
          <h2 class="my-4">Remeras</h2>
          <div class="row row-gap-3">
            <% dress.forEach(({name, price, image, id}) => { %>
              <div class="col-12 col-md-6 col-lg-3">
                <article class="card shadow">
                  <div class="card-body">
                    <div class="position-relative">
                      <img style="height: 200px; object-fit: contain;" src="./images/<%= image %>"
                        alt="remeraBlancaAngular" class="card-img-top">
                      <p class="position-absolute top-0 end-0 badge rounded-pill text-bg-success fs-5"> $<%= price %> </p>
                    </div>
                    <hr>
                    <p class="cart-title fs-4"><%= name %></p>
                    <a class="btn btn-sm btn-info" href="/products/detail/<%= id %>"><i class="fas fa-plus"></i> Más info</a>
                    <a class="btn btn-sm btn-primary" href="/cart/add/<%= id %> "><i class="fas fa-cart-plus"></i> Comprar</a>
                  </div>
                </article>
              </div>
            <% }) %>
          </div>

                      
        </section>
        <section class="container">
          <h2 class="my-4">Accesorios</h2>
          <div class="row">
            <% accessories.forEach(({name, price, image, id}) => { %>
              <div class="col-12 col-md-6 col-lg-3">
                <article class="card shadow">
                  <div class="card-body">
                    <div class="position-relative">
                      <img style="height: 200px; object-fit: contain;" src="./images/<%= image %>"
                        alt="remeraBlancaAngular" class="card-img-top">
                      <p class="position-absolute top-0 end-0 badge rounded-pill text-bg-success fs-5"> $<%= price %> </p>
                    </div>
                    <hr>
                    <p class="cart-title fs-4"><%= name %></p>
                    <a class="btn btn-sm btn-info" href="/products/detail/<%= id %>"><i class="fas fa-plus"></i> Más info</a>
                    <a class="btn btn-sm btn-primary" href="/cart/add/<%= id %> "><i class="fas fa-cart-plus"></i> Comprar</a>
                  </div>
                </article>
              </div>
            <% }) %>
        </section>
      </main>
      <%- include('partials/footer') %>

  </body>

</html>