<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body class="bg-light">
    <%- include('../partials/header') %>
      <main class="container">
        <h2 class="my-4">Mi perfil de usuario</h2>

        <div class="col-12 col-md-8 col-lg-6 mx-auto">

          <div class="card shadow">
            <div class="card-body">
              <form action="/users/profile/<%= id %>?_method=PUT" method="post" class="row">
                <div class="form-group mb-3">
                  <label for="userName" class="form-label">Nombre de ususario:</label>
                  <input type="text" id="userName" value="<%= userName %>" name="userName" class="form-control <%= locals.errores && errores.userName && 'is-invalid' %>">
                  <% if(locals.errores && locals.errores.userName) {%>
                    <p class="text-danger mt-2"> <i class="fa-solid fa-circle-exclamation"></i>
                      <%= errores.userName.msg %>
                    </p>
                    <% } %>
                </div>
                <div class="form-group mb-3">

                  <label for="email" class="form-label">Correo Electrónico:</label>
                  <input type="email" id="email" value="<%= email %>" name="email" class="form-control <%= locals.errores && errores.email && 'is-invalid' %>" >
                  <% if(locals.errores && locals.errores.email) {%>
                    <p class="text-danger mt-2"><i class="fa-solid fa-circle-exclamation"></i>
                      <%= errores.email.msg %>
                    </p>
                    <% } %>
                </div>
                <div class="form-group mb-3">
                  <label for="address" class="form-label">Domicilio (calle y altura):</label>
                  <input type="address" id="address" name="address" class="form-control">
                </div>
                <div class="form-group mb-3">
                  <label for="confirmPassword" class="form-label">Provincia:</label>
                  <select class="form-select" name="province" id="province">
                    <% if (!province) { %>
                      <option value="" selected hidden>Seleccione...</option>
                      <% provincias.forEach(provincia => { %>
                        <option value="<%= provincia.nombre %>"><%= provincia.nombre %></option>
                      <% }) %>
                    <% } else { %>
                      <% provincias.forEach(provincia => { %>
                        <option value="<%= provincia.nombre %>" <%= provincia.nombre == province && 'selected' %>><%= provincia.nombre %></option>
                      <% }) %>
                    <% } %>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="confirmPassword" class="form-label">Ciudad:</label>
                  <select class="form-select" name="city" id="city">
                    <% if (!city) { %>
                      <option value="" selected hidden>Seleccione...</option>
                      <% localidades.forEach(localidad => { %>
                        <option value="<%= localidad.nombre %>"><%= localidad.nombre %></option>
                      <% }) %>
                    <% } else { %>
                      <% localidades.forEach(localidad => { %>
                        <option value="<%= localidad.nombre %>" <%= localidad.nombre == city && 'selected' %>><%= localidad.nombre %></option>
                      <% }) %>
                    <% } %>
                  
                  </select>
              </div>
                <div class="form-group my-3">
                  <button class="btn btn-dark" type="submit">Actualizar datos</button>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal">
                    Darme de baja
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
      <%- include('../partials/modal-delete-user') %>
      <%- include('../partials/footer') %>
      <script src="/javascripts/profile.js"></script>
  </body>

</html>