<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body class="bg-light">
    <%- include('../partials/header') %>
      <main class="container">
        <h2 class="my-4">Registrarse</h2>

        <div class="col-12 col-md-8 col-lg-6 mx-auto">

          <div class="card shadow">
            <div class="card-body">
              <form action="/users/register" method="post" class="row">
                <div class="form-group mb-3">
                  <label for="userName" class="form-label">Nombre de ususario:</label>
                  <input type="text" id="userName" value="<%= locals.oldData && oldData.userName %>" name="userName" class="form-control <%= locals.errores && errores.userName && 'is-invalid' %>">
                  <% if(locals.errores && locals.errores.userName) {%>
                    <p class="text-danger mt-2"> <i class="fa-solid fa-circle-exclamation"></i>
                      <%= errores.userName.msg %>
                    </p>
                    <% } %>
                </div>
                <div class="form-group mb-3">

                  <label for="email" class="form-label">Correo Electrónico:</label>
                  <input type="email" id="email" value="<%= locals.oldData && oldData.email %>" name="email" class="form-control <%= locals.errores && errores.email && 'is-invalid' %>" >
                  <% if(locals.errores && locals.errores.email) {%>
                    <p class="text-danger mt-2"><i class="fa-solid fa-circle-exclamation"></i>
                      <%= errores.email.msg %>
                    </p>
                    <% } %>
                </div>
                <div class="form-group mb-3">
                  <label for="password" class="form-label">Contraseña:</label>
                  <input type="password" id="password" name="password" class="form-control <%= locals.errores && errores.password && 'is-invalid' %>" >
                  <% if(locals.errores && locals.errores.password) {%>
                    <p class="text-danger mt-2"><i class="fa-solid fa-circle-exclamation"></i>
                      <%= errores.password.msg %>
                    </p>
                    <% } %>
                </div>
                <div class="form-group mb-3">
                  <label for="confirmPassword" class="form-label">Confirmar Contraseña:</label>
                  <input type="password" id="confirmPassword" name="confirmPassword" class="form-control <%= locals.errores && errores.confirmPassword && 'is-invalid' %>">
                  <% if(locals.errores && locals.errores.confirmPassword) {%>
                    <p class="text-danger mt-2"><i class="fa-solid fa-circle-exclamation"></i>
                      <%= errores.confirmPassword.msg %>
                    </p>
                    <% } %>
                </div>
                <div class="form-group mb-3">
                  <div class="d-flex flex-column flex-md-row justify-content-around">
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                      <label class="form-check-label" for="checkDefault">
                        Acepto términos y condiciones
                      </label>
                    </div>
                    <div>
                      <p>¿Estás registrado?  <a href="/users/login">Iniciá sesión</a> </p>
                    </div>
                  </div>
              </div>
                <div class="form-group my-3">
                  <button class="btn btn-dark" type="submit">Registrarse</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
      <%- include('../partials/footer') %>
  </body>

</html>